<!DOCTYPE html>

<html xmlns:th="https://thymeleaf.org">
    <head>
        <title> supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        
        <h1>Banking Services</h1>
        
        <hr> 
    
        <h2> Customer Account </h2>
        
        <table border="1">
            <tr>
                <th>Account ID</th>
                <th>Name</th>
                <th>Current Balance</th> 
            </tr>
            
            <tr>
                <td th:text="${customer.customerId}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.balance}"></td>
               
            </tr>
            
        </table>
        <br><br>
        <a href="./menu">Return To Menu</a>
       
    </body>
</html>
