<!DOCTYPE html>

<html xmlns:th="https://thymeleaf.org">
<head>
    <title>supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <h1>Banking Services</h1>
    <h2 th:text="'Welcome ' + ${session.customer.customerName} + ' !'"></h2>
    <hr>

    <form action="./transferFunds">

        Enter Recipient Account ID : <input type="number" name="recipientId"><br><br>

        Enter Amount to Deposit : <input type="number" name="deposit"><br><br>

        <input type="submit" value="Transfer">

    </form>


</body>
    
</html>
